
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>会议室预约</title>
    <meta name="keywords" content="会议室预约" />
    <meta name="description" content="会议室预约" />
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="doc">
    {{include file='header.html'}}
    <div class="wraper clearfix">
        <div class="wrap-left">
            <span class="logo"><img src="images/logo.jpg" alt="" width="130" height="35"></span>
            <div class="nav-left">
                <ul class="nav-left-ul">
                    <li><a href="/"><em class="home"></em>回到首页</a></li>
                    <li class="on"><a href="/activity/list_activity"><em class="myagenda"></em>我的代办</a></li>
                    <li><a href="/activity/list_review"><em class="allagenda"></em>代办事项</a></li>
                </ul>
            </div>
        </div>
        <div class="wrap-right">
            <div class="search-wrap">
                <form id="formSearchActivity" method="POST" action="/activity/list_activity">
                       <select name="user" id="sel_user">
                        <option value="">选择员工</option>
                        <option value="郑法明">郑法明</option>
                       </select>
                       <select name="subsidiary">
                        <option value="">进程选择</option>
                        <option value="">审核中</option>
                        <option value="">审核通过</option>
                        <option value="">评估中</option>
                        <option value="">评估通过</option>
                        <option value="">过户中</option>
                        <option value="">过户通过</option>
                        <option value="">按揭中</option>
                        <option value="">按揭通过</option>
                        <option value="">按揭房款中</option>
                        <option value="">按揭房款完成</option>
                      </select>
                      <select name="user">
                        <option value="">选择状态</option>
                        <option value="正常">正常</option>
                        <option value="异常">异常</option>
                       </select>
                    <a href="javascript:void(0);" class="search-btn" id="btn_search"></a>
                    <a href="/activity/add_activity" class="add-schedule-btn">+新增行程</a>
                </form>
            </div>
            <div class="schedule-wrap book-wrap">
                <table cellpadding="0" colspadding="0" border="0" class="book-table">
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <!-- <td rows="2">中心会议室在线预约</td> -->
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th width="12.5%"></th>
                            <th width="12.5%">今天（05/23）</th>
                            <th width="12.5%">周二（05/24）</th>
                            <th width="12.5%">周三（05/25）</th>
                            <th width="12.5%">周四（05/26）</th>
                            <th width="12.5%">周五（05/27）</th>
                            <th width="12.5%">周六（05/28）</th>
                            <th width="12.5%">周日（05/29）</th>
                        </tr>
                         <tr>
                             <td>9:00-10:00</td>
                             <td>
                                <em class="roomtips-unbook-pos"></em>
                                <a href="javascript:" class="unbook-btn" style="cursor:pointer;">预约</a>
                                
                             </td>
                             <td>
                                <em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a>
                                
                            </td>
                             <td class="successful-td">
                                <a href="javascript:" class="book-btn book-successful-btn"><em></em>预约成功</a>
                            </td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                        </tr>
                        <tr>
                             <td>10:00-11:00</td>
                             <td><em class="roomtips-unbook-pos"></em>
                                <a href="javascript:" class="unbook-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-unbook-pos"></em>
                                <a href="javascript:" class="unbook-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                        </tr>
                         <tr>
                             <td>11:00-12:00</td>
                             <td><em class="roomtips-unbook-pos"></em>
                                <a href="javascript:" class="unbook-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-unbook-pos"></em>
                                <a href="javascript:" class="unbook-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                        </tr>
                         <tr>
                             <td>12:00-13:00</td>
                           <td><em class="roomtips-unbook-pos"></em>
                                <a href="javascript:" class="unbook-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-unbook-pos"></em>
                                <a href="javascript:" class="unbook-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                        </tr>
                         <tr>
                             <td>13:00-14:00</td>
                            <td><em class="roomtips-unbook-pos"></em>
                                <a href="javascript:" class="unbook-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-unbook-pos"></em>
                                <a href="javascript:" class="unbook-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                        </tr>
                         <tr>
                             <td>14:00-15:00</td>
                            <td><em class="roomtips-unbook-pos"></em>
                                <a href="javascript:" class="unbook-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-unbook-pos"></em>
                                <a href="javascript:" class="unbook-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                        </tr>
                         <tr>
                             <td>15:00-16:00</td>
                             <td><em class="roomtips-unbook-pos"></em>
                                <a href="javascript:" class="unbook-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-unbook-pos"></em>
                                <a href="javascript:" class="unbook-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                        </tr>
                         <tr>
                             <td>16:00-17:00</td>
                             <td><em class="roomtips-unbook-pos"></em>
                                <a href="javascript:" class="unbook-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-unbook-pos"></em>
                                <a href="javascript:" class="unbook-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                        </tr>
                         <tr>
                             <td>17:00-18:00</td>
                            <td><em class="roomtips-unbook-pos"></em>
                                <a href="javascript:" class="unbook-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-unbook-pos"></em>
                                <a href="javascript:" class="unbook-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                             <td><em class="roomtips-book-pos"></em>
                                <a href="javascript:" class="book-btn">预约</a></td>
                        </tr>
                         <tr>
                             <td>18:00-19:00</td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                        </tr>
                         <tr>
                             <td>19:00-20:00</td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                        </tr>
                         <tr>
                             <td>20:00-21:00</td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                             <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 经纪人预定会议室 -->
 
    <div class="choose-bookroom">
        <div class="r-tit">预约会议室<span class="s-bor"></span></div>
        <p class="radio-p disabled-p"><label><input type="radio" name="radio1" value="中心会议室VIP001" disabled /> 中心会议室VIP001</label></p>
        <p class="radio-p"><label><input type="radio" name="radio1" value="中心会议室VIP001" /> 中心会议室VIP001</label></p>
        <p class="radio-p"><label><input type="radio" name="radio1" value="中心会议室VIP001" /> 中心会议室VIP001</label></p>
        <p class="radio-p"><label><input type="radio" name="radio1" value="中心会议室VIP001" /> 中心会议室VIP001</label></p>
        <p class="radio-tips">灰色表示已经有人预约</p>
        <a href="javascript:" class="book-submit-btn">确定预约</a>
    </div>

<!-- 管理员查看会议室预订 -->

    <div class="manage-showroom">
        <dl class="vip1">
        <dt></dt>
        <dd><span>中心会议室VIP00A</span><br />2016/05/23 北区房屋  青阳店<br/>邵羽 13451691016</dd>
        </dl>
        <dl class="vip2">
        <dt></dt>
        <dd><span>中心会议室VIP00A</span><br />2016/05/23 北区房屋  青阳店<br/>邵羽 13451691016</dd>
        </dl>
        <dl class="vip3">
        <dt></dt>
        <dd><span>中心会议室VIP00A</span><br />2016/05/23 北区房屋  青阳店<br/>邵羽 13451691016</dd>
        </dl>
        <dl class="vip4">
        <dt></dt>
        <dd><span>中心会议室VIP00A</span><br />2016/05/23 北区房屋  青阳店<br/>邵羽 13451691016</dd>
        </dl>
    </div>

<script type="text/javascript" src="/static/js/jquery.poshytip.min.js"></script>
<script type="text/javascript">
$(function(){
     $('.unbook-btn').click(function(e){
         $('.roomtips-unbook-pos').poshytip('hide');
        // $('.roomtips-book-pos').poshytip('hide');
         $(this).siblings('.roomtips-unbook-pos').poshytip('show');
          e.stopPropagation();

     });
     $('.roomtips-unbook-pos').poshytip({
            className: 'manage-showroom',
            content:$('.manage-showroom').html(),
            showOn:'none',
            alignTo:'target',
            alignX:'center',
            offsetY:30            
        });
       $('.book-btn').click(function(e){
         $('.roomtips-book-pos').poshytip('hide');
        // $('.roomtips-unbook-pos').poshytip('hide');
         $(this).siblings('.roomtips-book-pos').poshytip('show');
          e.stopPropagation();

     });
     $('.roomtips-book-pos').poshytip({
            className: 'choose-bookroom',
            content:$('.choose-bookroom').html(),
            showOn:'none',
            alignTo:'target',
            alignX:'center',
            offsetY:30            
        });
     $(document).click(function(){
        $('.roomtips-book-pos').poshytip('hide');$('.roomtips-unbook-pos').poshytip('hide');
     });
     //预约
     // $(".book-btn").click(function(){
     //    $(this).siblings(".choose-bookroom").slideDown();
     // });
     $(".history-list").height();
        $(".ing-error").mouseover(function(){
            $(this).children(".error-explain").toggle();
        }).mouseout(function(){ $(this).children(".error-explain").hide();});
        $(".history-show").mouseover(function(){
            $(this).children(".history-list").toggle();
        }).mouseout(function(){ $(this).children(".history-list").hide();});
        $("#btn_search").click(function() {
            $('#formSearchActivity').submit();
        });
})
</script>
</body>
</html>