
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>在线考试</title>
    <meta name="keywords" content="在线考试" />
    <meta name="description" content="在线考试" />
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="doc">
    {{include file='header.html'}}
    <div class="wraper clearfix">
        <div class="wrap-left">
            <span class="logo"><img src="/static/images/logo.jpg" alt="" width="130" height="35"></span>
            <div class="nav-left">
                <ul class="nav-left-ul">
                    <li><a href="/"><em class="home"></em>回到首页</a></li>
                    <li><a href="/activity/list_activity"><em class="onlineclass"></em>在线课程</a></li>
                    <li><a href="/activity/list_activity"><em class="documentdata"></em>文档资料</a></li>
                    <li class="on">
                        <a href="/examination/selft_examination"><em class="onlineexam"></em>在线考试</a>
                        <span class="document-nav-list">
                            <a href="/examination/self_examination" class="on">自主测评</a><br />
                            <a href="/examination/unit_examination">统一考试</a><br />
                            <a href="">我的成绩</a>
                        </span>
                    </li>
                    <li><a href="/activity/list_activity"><em class="questionbank"></em>题库</a></li>
                </ul>
            </div>
        </div>
        <div class="wrap-right">
             <div class="search-wrap">
               
            </div>
              <div class="schedule-wrap upload-document-wrap">
                <p class="tab-tit">在线考试</p>
                <div class="examination-main clearfix">
                   <div class="show-examination">
                        <span class="tit">{{$exam_data.question_type}}</span>
                        <dl class="dl-exam">
                            <dt>1. {{$exam_data.title}}</dt>
                            <dd>
                                <label><input type="radio" value="A" name="option" /><span>A. {{$exam_data.op1}}</span></label>
                            </dd>
                            <dd>
                                <label><input type="radio" value="B" name="option" /><span>B. {{$exam_data.op2}}</span></label>
                            </dd>
                            <dd>
                                <label><input type="radio" value="C" name="option" /><span>C. {{$exam_data.op3}}</span></label>
                            </dd>
                            <dd>
                                <label><input type="radio" value="D" name="option" /><span>D. {{$exam_data.op4}}</span></label>
                            </dd>
                            <!--论述题-->
                            <!--<dd class="discuss-dd">
                                <textarea rows="3" cols="4"></textarea>
                            </dd>-->
                        </dl>
                       <div class="exam-page">
                             <p style="margin-top:30px;">
                                 <a href="javascript:void(0);" class="prev btn-off" id="btnPrev">上一题</a>
                                 <a href="javascript:void(0);" class="next" id="btnNext">下一题</a>
                             </p>
                        </div>
                   </div>
                   <div class="examination-result">
                        <p class="hassubmit"></p>
                        <div class="examination-result-inner">
                            <span class="exam-category">
                                <i class="bor"></i>
                                <em class="current pos1">选择题</em><em class="pos2">论述题</em>
                            </span>
                            <div class="ques-number">
                                {{foreach from=$question_data key=key item=item}}
                                    <a href="/examination/do_examination/{{$type_id}}/{{$item.question_id}}" {{if $item.complete == 1}}class="done"{{/if}}>{{$key+1}}</a>
                                {{/foreach}}
                            </div>
                            <p class="tips"><span class="col1">&nbsp</span>未答题<span class="col2">&nbsp</span>当前题<span class="col3">&nbsp</span>已答题</p>
                        </div>
                   </div>
                   <div class="clear"></div>
                     <div class="exam-page">
                          <p><a href="javascript:void(0);" id="submitExam">交卷</a></p>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/layer/layer.js"></script>
<script type="application/javascript">
$(function() {
    $("#submitExam").click(function() {
       layer.confirm('确定要交卷吗？', {
           btn: ['确定','取消'] //按钮
       }, function(){
           window.location.href = '/examination/submit_examination';
       }, function(){
       });
    });

    $("#btnPrev").click(function() {
        alert("prev");
    });

    $("#btnNext").click(function() {
        alert("next");
    });
});
</script>
</body>
</html> 