<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>房猫房地产管理系统</title>
    <meta name="keywords" content="房猫-前台-首页" />
    <meta name="description" content="房猫-前台-首页" />
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <!--[if IE 6]><script>document.execCommand("BackgroundImageCache", false, true)</script><![endif]-->
</head>
<body>
    <div class="doc index">
        {{include file='header.html'}}
        <div class="wraper clearfix">
            <div class="index_logo"><a href=""><img src="/static/images/index/index_logo.png" alt=""></a></div>
            <ul class="index-nav">
                <li class="current">我的桌面</li>
                <li>管理工具</li>
                <li>服务窗口</li>
                <li>经纪人学院</li>
                <li>金融服务</li>
                <li>房猫新闻</li>
                <li>文档库</li>
            </ul>
            <div class="content">
                <div class="convenient-btns">
                    <a href="javascript:void(0);" class="a-btns" id="btn_activity"><img src="/static/images/index/s_index_nav1.gif" alt=""></a>
                    <a href="javascript:void(0);" class="a-btns" id="btn_ranking"><img src="/static/images/index/s_index_nav2.gif" alt=""></a>
                    <a href="javascript:void(0);" class="a-btns"><img src="/static/images/index/s_index_nav3.gif" alt=""></a>
                    <a href="javascript:void(0);" class="a-btns"><img src="/static/images/index/s_index_nav4.gif" alt=""></a>
                    <a href="javascript:void(0);" class="a-btns"><img src="/static/images/index/s_index_nav5.gif" alt=""></a>
                    <a href="javascript:void(0);" class="a-btns"><img src="/static/images/index/s_index_nav6.gif" alt=""></a>
                </div>
                <div class="news-th">
                        新闻与活动
                </div>
                <div class="new-tb">
                    <dl class="new-box fl">
                        <dt><img src="/static/images/index/img1.jpg" /></dt>
                        <dd><span class="s-tit">房猫学院为北区房屋成功实施《房企拓客营销》内训。</span>
                            <p>2016年5月12日，房猫学院受北区房屋公
                                司的邀请，深入企业，进行了为期一天的
                                《房地产狼性冠军团队拓客营销及杀客成  </p>
                        </dd>
                    </dl>
                    <dl class="new-box fr">
                        <dt><img src="/static/images/index/img1.jpg" /></dt>
                        <dd><span class="s-tit">房猫学院为北区房屋成功实施《房企拓客营销》内训。</span>
                            <p>2016年5月12日，房猫学院受北区房屋公
                                司的邀请，深入企业，进行了为期一天的
                                《房地产狼性冠军团队拓客营销及杀客成  </p>
                        </dd>
                    </dl>
                    <dl class="new-box fl">
                        <dt><img src="/static/images/index/img1.jpg" /></dt>
                        <dd><span class="s-tit">房猫学院为北区房屋成功实施《房企拓客营销》内训。</span>
                            <p>2016年5月12日，房猫学院受北区房屋公
                                司的邀请，深入企业，进行了为期一天的
                                《房地产狼性冠军团队拓客营销及杀客成  </p>
                        </dd>
                    </dl>
                    <dl class="new-box fr">
                        <dt><img src="/static/images/index/img1.jpg" /></dt>
                        <dd><span class="s-tit">房猫学院为北区房屋成功实施《房企拓客营销》内训。</span>
                            <p>2016年5月12日，房猫学院受北区房屋公
                                司的邀请，深入企业，进行了为期一天的
                                《房地产狼性冠军团队拓客营销及杀客成  </p>
                        </dd>
                    </dl>
                    <div class="pages" style="float:right">
                        <span class="current">1</span><a href="/activity/list_review/2">2</a><a href="/activity/list_review/3">3</a><a href="/activity/list_review/2" class="prev">下一页</a>
                    </div>

                </div>
            </div>
            {{include file='footer.html'}}
        </div>
    </div>
    <div class="login-div" id="Jloginpop" style="display:none; cursor: default">
        <a href="javascript:" class="pop-close-btn"></a>
        <p class="p-txt">欢迎登录</p>
        <form action="">
            <div class="input-div">
                <span><em class="input-icon input-tel"></em>| </span><input type="text" name="username" id="username" placeholder="手机号" />
            </div>
            <div class="input-div">
                <span><em class="input-icon input-pwd"></em>| </span><input type="password" name="password" id="password" placeholder="密码"  />
            </div>
            <a href="javascript:void(0);" class="sub-btn" id="btn_login">登 录</a>
            <p class="tips" id="login_error" style="display:none"><em></em>手机或密码不对，请重新输入！</p>
        </form>
    </div>
    <script type="text/javascript">
        var gotokey = 0;
        $("#btn_login").click(function() {
            var username = $("#username").val();
            var password = $("#password").val();
            $.post('/index/login', {username: username, password: password}, function(data) {
                if(data > 0) {
                    if(gotokey == 1) {
                        window.location = '/activity/list_activity';
                    } else if(gotokey == 2) {
                        window.location = '/activity/list_ranking';
                    } else {
                        window.location = '/';
                    }
                } else {
                    $("#login_error").show();
                    $("#username").val("");
                    $("#password").val("");
                }
            });
        });

        function checkAuth() {
            return $.ajax({
                url: "/index/check_login",
                async: false
            }).responseText;
        }

        $("#btn_activity").click(function(){
            var result = checkAuth();
            if(result < 1) {
                gotokey = 1;
                $.blockUI({ message: $('#Jloginpop'), css:{ background: 'none',top:'100px', border: 'none',width:'410px', height:'410px'}, overlayCSS: {cursor:'default'}});
            } else {
                window.location = '/activity/list_activity';
            }
        });

        $("#btn_ranking").click(function(){
            var result = checkAuth();
            if(result < 1) {
                gotokey = 2;
                $.blockUI({ message: $('#Jloginpop'), css:{ background: 'none',top:'100px', border: 'none',width:'410px', height:'410px'}, overlayCSS: {cursor:'default'}});
            } else {
                window.location = '/activity/list_ranking';
            }
        });
        //关闭弹框
        $(".pop-close-btn").click(function(){
            $.unblockUI();
        });
     </script>
</body>
</html>
