<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>房猫房地产管理系统</title>
    <meta name="keywords" content="房猫-行程管理-我的行程" />
    <meta name="description" content="房猫-行程管理-我的行程" />
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="doc">
    <div class="header-wrap">
        <div class="header-in-wrap">
            <div class="header-left">
                <p>昆山 5月03日 周二 11：16</p>
            </div>
            <div class="login-info">
                <a href="javascript:" id="Jmoreoperation" class="moreoperation"><span class="logo-head-pic"><img src="/static/images/user_photo.gif" alt="" width="26" height="26" /> </span>
                    郑法明<em class="up-icon"></em></a>
                <div class="more-operation" style="display:none;">
                    <a href=""><em class="a-em1"></em>完善资料</a>
                    <a href=""><em class="a-em2"></em>修改密码</a>
                </div>| 退出
            </div>
        </div>
    </div>
    <div class="wraper clearfix">
        <div class="wrap-left">
            <span class="logo"><img src="/static/images/logo.jpg" alt="" width="130" height="35"></span>
            <div class="nav-left">
                <ul class="nav-left-ul">
                    <li><a href="/"><em class="home"></em>回到首页</a></li>
                    <li class="on"><a href="/activity/list_activity"><em class="schedule"></em>我的行程</a></li>
                    <li><a href="/activity/list_review"><em class="verify"></em>我的审核</a></li>
                </ul>
            </div>
        </div>
        <div class="wrap-right">
            <div class="search-wrap search-wrap1">
                <span class="user-name"><em class="user-pic-icon"></em> 郑法明</span>
                <span class="span-date"><em class="em-lock"></em> 2016-5-10</span>
            </div>
            <div class="schedule-wrap">
                <div class="schedule-tit plan-tit"><em></em>计划行程</div>
                <ul class="add-schedule-ul">
                    <li class="wid110">时间</li>
                    <li class="wid135">行程</li>
                    <li class="wid85">单项分</li>
                    <li class="wid85">数量</li>
                    <li class="wid135">评分</li>
                    <li class="wid365">备注</li>
                </ul>
                <div class="outer-list-div">
                    <ul class="add-schedule-list">
                        <li class="wid110">9:00-10:30</li>
                        <li class="wid135 add-items"><span class="item-icon item-icon-1"></span>电Call</li>
                        <li class="wid85 single-score">
                            {{$activity.a1s|default:0}}
                        </li>
                        <li class="wid85">
                            {{$activity.a1n|default:0}}<span class="item-unit">组</span>
                        </li>
                        <li class="wid135"><em class="fz14">{{$activity.a1t|default:0}}</em> 分</li>
                        <li class="wid365">{{$activity.a1m|default:''}}</li>
                    </ul>
                </div>
                <div class="outer-list-div">
                    <ul class="add-schedule-list">
                        <li class="wid110">10:30-12:00</li>
                        <li class="wid135 add-items"><span class="item-icon item-icon-2"></span>电Call</li>
                        <li class="wid85 single-score">
                            {{$activity.a2s|default:0}}
                        </li>
                        <li class="wid85">
                            {{$activity.a2n|default:0}}<span class="item-unit">组</span>
                        </li>
                        <li class="wid135"><em class="fz14">{{$activity.a2t|default:0}}</em> 分</li>
                        <li class="wid365">{{$activity.a2m|default:''}}</li>
                    </ul>
                </div>
                <div class="outer-list-div">
                    <ul class="add-schedule-list">
                        <li class="wid110">13:30-15:00</li>
                        <li class="wid135 add-items"><span class="item-icon item-icon-3"></span>电Call</li>
                        <li class="wid85 single-score">
                            {{$activity.a3s|default:0}}
                        </li>
                        <li class="wid85">
                            {{$activity.a3n|default:0}}<span class="item-unit">组</span>
                        </li>
                        <li class="wid135"><em class="fz14">{{$activity.a3t|default:0}}</em> 分</li>
                        <li class="wid365">{{$activity.a3m|default:''}}</li>
                    </ul>
                </div>
                <div class="outer-list-div">
                    <ul class="add-schedule-list">
                        <li class="wid110">15:00-16:30</li>
                        <li class="wid135 add-items"><span class="item-icon item-icon-4"></span>电Call</li>
                        <li class="wid85 single-score">
                            {{$activity.a4s|default:0}}
                        </li>
                        <li class="wid85">
                            {{$activity.a4n|default:0}}<span class="item-unit">组</span>
                        </li>
                        <li class="wid135"><em class="fz14">{{$activity.a4t|default:0}}</em> 分</li>
                        <li class="wid365">{{$activity.a4m|default:''}}</li>
                    </ul>
                </div>
                <div class="outer-list-div">
                    <ul class="add-schedule-list">
                        <li class="wid110">16:30-18:00</li>
                        <li class="wid135 add-items"><span class="item-icon item-icon-5"></span>电Call</li>
                        <li class="wid85 single-score">
                            {{$activity.a5s|default:0}}
                        </li>
                        <li class="wid85">
                            {{$activity.a5n|default:0}}<span class="item-unit">组</span>
                        </li>
                        <li class="wid135"><em class="fz14">{{$activity.a5t|default:0}}</em> 分</li>
                        <li class="wid365">{{$activity.a5m|default:''}}</li>
                    </ul>
                </div>
                <div class="schedule-tit reality-tit"><em></em>实际行程</div>
                <ul class="add-schedule-ul">
                    <li class="wid110">时间</li>
                    <li class="wid135">行程</li>
                    <li class="wid85">单项分</li>
                    <li class="wid85">数量</li>
                    <li class="wid135">评分</li>
                    <li class="wid365">备注</li>
                </ul>
                <div class="outer-list-div">
                    <ul class="add-schedule-list">
                        <li class="wid110">9:00-10:30</li>
                        <li class="wid135"></li>
                        <li class="wid85 single-score">
                            --
                        </li>
                        <li class="wid85">
                            <input type="text" name="sc-num" class="sc-num" /> <span class="item-unit">组</span>
                        </li>
                        <li class="wid135"><em class="fz14">--</em> 分</li>
                        <li class="wid365"><textarea rows="2" cols="3" class="sce-remarks"></textarea></li>
                    </ul>
                    <!--选择行程事项-->
                    <div class="add-select-items" style="position:absolute;top: 2px;;left:132px;">

                    </div>

                </div>
                <div class="outer-list-div">
                    <ul class="add-schedule-list">
                        <li class="wid110">10:30-12:00</li>
                        <li class="wid135"></li>
                        <li class="wid85 single-score">
                            --
                        </li>
                        <li class="wid85">
                            <input type="text" name="sc-num" class="sc-num" /> <span class="item-unit">组</span>
                        </li>
                        <li class="wid135"><em class="fz14">--</em> 分</li>
                        <li class="wid365"><textarea rows="2" cols="3" class="sce-remarks"></textarea></li>
                    </ul>
                    <!--选择行程事项-->
                    <div class="add-select-items" style="position:absolute;top: 2px;;left:132px;">

                    </div>
                </div>
                <div class="outer-list-div">
                    <ul class="add-schedule-list">
                        <li class="wid110">13:30-15:00</li>
                        <li class="wid135"></li>
                        <li class="wid85 single-score">
                            --
                        </li>
                        <li class="wid85">
                            <input type="text" name="sc-num" class="sc-num" /> <span class="item-unit">组</span>
                        </li>
                        <li class="wid135"><em class="fz14">--</em> 分</li>
                        <li class="wid365"><textarea rows="2" cols="3" class="sce-remarks"></textarea></li>
                    </ul>
                    <!--选择行程事项-->
                    <div class="add-select-items" style="position:absolute;top: 2px;;left:132px;">

                    </div>
                </div>
                <div class="outer-list-div">
                    <ul class="add-schedule-list">
                        <li class="wid110">15:00-16:30</li>
                        <li class="wid135"></li>
                        <li class="wid85 single-score">
                            --
                        </li>
                        <li class="wid85">
                            <input type="text" name="sc-num" class="sc-num" /> <span class="item-unit">组</span>
                        </li>
                        <li class="wid135"><em class="fz14">--</em> 分</li>
                        <li class="wid365"><textarea rows="2" cols="3" class="sce-remarks"></textarea></li>
                    </ul>
                    <!--选择行程事项-->
                    <div class="add-select-items" style="position:absolute;top: 2px;;left:132px;">

                    </div>
                </div>
                <div class="outer-list-div">
                    <ul class="add-schedule-list">
                        <li class="wid110">16:30-18:00</li>
                        <li class="wid135"></li>
                        <li class="wid85 single-score">
                            --
                        </li>
                        <li class="wid85">
                            <input type="text" name="sc-num" class="sc-num" /> <span class="item-unit">组</span>
                        </li>
                        <li class="wid135"><em class="fz14">--</em> 分</li>
                        <li class="wid365"><textarea rows="2" cols="3" class="sce-remarks"></textarea></li>
                    </ul>
                    <!--选择行程事项-->
                    <div class="add-select-items" style="position:absolute;top: 2px;;left:132px;">

                    </div>
                </div>
                <div class="statistics-score">
                    <ul>
                        <li class="plan-score">计划总分：100分</li>
                        <li class="reality-score">自评总分：100分</li>
                    </ul>
                </div>
                <div class="clear"></div>
                <p class="p-btn"><a href="javascript:" class="confirm-btn">确认</a></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery-1.9.0.js"></script>
<script type="text/javascript" src="/static/js/SelectSimu.js"></script>
<script>
    $("#Jmoreoperation").click(function(){
        $(".more-operation").toggle();
        $(this).parent().mouseleave(function(){$(".more-operation").hide()});
    })

    $('.add-select-items').SelectSimu({
        width : 135,
        zIndex : 999,
        listNum : 8,
        data:[{id:0, name:'选择行程事项',score:'0',unit:''},{id:1, name:'电Call',score:'5',unit:'个'},{id:2, name:'带看',score:'10',unit:'组'},
            {id:3, name:'房源录入',score:'25',unit:'条'}, {id:4, name:'客源录入',score:'15',unit:'条'},{id:5, name:'实勘',score:'20',unit:'组'},
            {id:6, name:'房源发布',score:'30',unit:'条'},{id:7, name:'驻守',score:'35',unit:'次'}]
//        listValue : ['0','1','2','3','4','5','6','7'],
//        listOption : ['选择行程事项','电Call','待看','房源录入','实勘','房源发布','客源录入驻守','驻守'],
//        score:['0','5','10','15','20','25','30','35'],
//        unit:['','个','组','条','组','条','条','小时']
    });

    // [{id:1, name:'',score:'',unit:''}]
</script>
</body>