
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>会议室预约</title>
    <meta name="keywords" content="会议室预约" />
    <meta name="description" content="会议室预约" />
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="doc">
    {{include file='header.html'}}
    <div class="wraper clearfix">
        <div class="wrap-left">
            <span class="logo"><img src="/static/images/logo.jpg" alt="" width="130" height="35"></span>
            <div class="nav-left">
                <ul class="nav-left-ul">
                    <li><a href="/"><em class="home"></em>回到首页</a></li>
                    <li><a href="/document/list_doc"><em class="documentdata"></em>文档资料</a></li>
                    <li class="on"><a href="/video/list_video"><em class="onlineclass"></em>在线课程</a></li>
                </ul>
            </div>
        </div>
        <div class="wrap-right">
             <div class="search-wrap">
                <form id="formSearchActivity" method="POST" action="/agenda/list_agenda">
                    <input type="text" name="search" class="search-input" placeholder="你不懂的搜一搜" >
                    <a href="javascript:void(0);" class="search-btn" id="btn_search"></a>
                </form>
            </div>
            <div class="schedule-wrap online-class-wrap">
                 <ul class="control online-class-control" id ="slide01_control">
                    <li>全部</li>
                    <li>微课程</li>
                    <li>公开课</li>
                    <li>行业视角</li>
                    <li>新人培训</li>
                    <li>销售技巧</li>
                </ul>
                <div class="main-inner" id="slide01">
                    <div class="condiv" id="rank_0">
                        <div class="tab-tit">全部课程</div>
                        <ul class="ul-video">
                            <li>
                                <a href="/video/view_video">
                                    <video width="315" height="234">
                                        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                    <p class="video-txt">
                                        <i class="fz16">[微课程]突破业绩成长五大瓶颈</i><br />
                                        <i class="fz12">98.3万次播放</i><br />
                                        <i href="" class="play-btn">立即播放</i>
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="/video/view_video">
                                    <video width="315" height="234">
                                        <source src="http://saas.funmall.com.cn/uploadfiles/video/test.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                    <p class="video-txt">
                                        <i class="fz16">[微课程]突破业绩成长五大瓶颈</i><br />
                                        <i class="fz12">98.3万次播放</i><br />
                                        <i href="" class="play-btn">立即播放</i>
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="/video/view_video">
                                    <video width="315" height="234">
                                        <source src="http://saas.funmall.com.cn/uploadfiles/video/small.ogv" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                    <p class="video-txt">
                                        <i class="fz16">[微课程]突破业绩成长五大瓶颈</i><br />
                                        <i class="fz12">98.3万次播放</i><br />
                                        <i href="" class="play-btn">立即播放</i>
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <ul class="ul-video ul-video1">
                            <li>
                                <a href="/video/view_video">
                                    <video width="185" height="110">
                                        <source src="http://saas.funmall.com.cn/uploadfiles/video/small.ogv" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                    <em class="video-icon"></em>
                                    <p>[公开课]如你所见-身处O2O时代的房产经纪如何应对挑战<br />
                                        <i class="playnum">1000次播放</i><i class="zannum">5次点赞</i>
                                    </p>                                
                                </a>
                            </li>
                            <li>
                                <a href="/video/view_video">
                                    <video width="185" height="110">
                                        <source src="http://saas.funmall.com.cn/uploadfiles/video/small.ogv" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                    <em class="video-icon"></em>
                                    <p>[公开课]如你所见-身处O2O时代的房产经纪如何应对挑战<br />
                                        <i class="playnum">1000次播放</i><i class="zannum">5次点赞</i>
                                    </p>                                
                                </a>
                            </li>
                            <li>
                                <a href="/video/view_video">
                                    <video width="185" height="110">
                                        <source src="http://saas.funmall.com.cn/uploadfiles/video/small.ogv" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                    <em class="video-icon"></em>
                                    <p>[公开课]如你所见-身处O2O时代的房产经纪如何应对挑战<br />
                                        <i class="playnum">1000次播放</i><i class="zannum">5次点赞</i>
                                    </p>                                
                                </a>
                            </li>
                            <li>
                                <a href="/video/view_video">
                                    <video width="185" height="110">
                                        <source src="http://saas.funmall.com.cn/uploadfiles/video/small.ogv" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                    <em class="video-icon"></em>
                                    <p>[公开课]如你所见-身处O2O时代的房产经纪如何应对挑战<br />
                                        <i class="playnum">1000次播放</i><i class="zannum">5次点赞</i>
                                    </p>                                
                                </a>
                            </li>
                            <li>
                                <a href="/video/view_video">
                                    <video width="185" height="110">
                                        <source src="http://saas.funmall.com.cn/uploadfiles/video/small.ogv" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                    <em class="video-icon"></em>
                                    <p>[公开课]如你所见-身处O2O时代的房产经纪如何应对挑战<br />
                                        <i class="playnum">1000次播放</i><i class="zannum">5次点赞</i>
                                    </p>                                
                                </a>
                            </li>
                        </ul>
                          <div class="pages">
                        <span class="current">1</span><a href="/activity/list_review/2">2</a><a href="/activity/list_review/3">3</a><a href="/activity/list_review/4">4</a><a href="/activity/list_review/5">5</a><a href="/activity/list_review/2" class="prev">下一页</a>
                        </div>

                    </div>
                    <div class="condiv" id="rank_1"> <div class="tab-tit">微课程</div></div>
                    <div class="condiv" id="rank_2"> <div class="tab-tit">公开课</div></div>
                    <div class="condiv" id="rank_3"> <div class="tab-tit">行业视角</div></div>
                    <div class="condiv" id="rank_4"> <div class="tab-tit">新人培训</div></div>
                    <div class="condiv" id="rank_5"> <div class="tab-tit">销售技巧</div></div>
                 </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/static/js/jquery.poshytip.min.js"></script>
<script type="text/javascript" src="/static/js/dpl-jquery.slide.js"></script>
<script type="text/javascript"> 
    $('.ul-video li a').mouseover(function(){
        $(this).children('.video-txt').show();
        if($(this).children('.video-icon')){
             $(this).children('.video-icon').show();
        }
    }).mouseout(function(){ $(this).children('.video-txt').hide();
        if($(this).children('.video-icon')){
             $(this).children('.video-icon').hide();
        }
        })

    new Slide({
        target: $('#slide01 .condiv' ),
        control: $('#slide01_control li' ),
        type:'click',
        onchange: function() {
        }
    });

</script>
</body>
</html>