<div class="r-tit">预约会议室<span class="s-bor"></span></div>
<p class="radio-p disabled-p"><label><input type="radio" name="radio1" value="中心会议室VIP001" disabled /> 中心会议室VIP001</label></p>
<p class="radio-p"><label><input type="radio" name="radio1" value="中心会议室VIP001" /> 中心会议室VIP001</label></p>
<p class="radio-p"><label><input type="radio" name="radio1" value="中心会议室VIP001" /> 中心会议室VIP001</label></p>
<p class="radio-p"><label><input type="radio" name="radio1" value="中心会议室VIP001" /> 中心会议室VIP001</label></p>
<p class="radio-tips">灰色表示已经有人预约</p>
<a href="javascript:" class="book-submit-btn">确定预约</a>