<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>上传文档</title>
    <meta name="keywords" content="上传文档" />
    <meta name="description" content="上传文档" />
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="doc">
    {{include file='header.html'}}
    <div class="wraper clearfix">
        <div class="wrap-left">
            <a href="/" class="logo"><img src="/static/images/logo.jpg" alt="" width="130" height="35"></a>
            <div class="nav-left">
                <ul class="nav-left-ul">
                    <li><a href="/"><em class="home"></em>回到首页</a></li>
                    <li><a href="/video/list_video"><em class="onlineclass"></em>在线课程</a></li>
                    <li class="on">
                        <a href="/document/list_doc"><em class="documentdata"></em>文档资料</a>
                        <span class="document-nav-list">
                            <a href="/document/list_doc">文档列表</a><br />
                            <a href="/document/publish_doc" class="on">上传文档</a><br />
                            <a href="/document/upload_data">上传资料</a>
                        </span>
                    </li>
                    {{if in_array(4,$position_id)}}
                    <li><a href="/document/list_doc_nopass"><em class="documentdata"></em>文档审核</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
        <div class="wrap-right">
             <div class="search-wrap">
            </div>
            <div class="schedule-wrap upload-document-wrap">
                <p class="tab-tit">发布文档</p>
                <div class="publish-document-main">
                        <form id="save_form" method="post" action="{{site_url url='document/save_ticket'}}">
                            <select id="sel_type" name="type" class="pub-select">
                                <option value="">选择文档</option>
                                {{if $type_list!=1}}
                                {{foreach from=$type_list item=item}}
                                <option value="{{$item.id}}">{{$item.name}}</option>
                                {{/foreach}}
                                {{/if}}
                            </select>
                            <input type="text" id="title" name="title" class="input-txt" placeholder="标题" />
                            <div class="editor-box">
                                <textarea id="elm1" name="elm1" class="xheditor" rows="30" cols="80" style="width: 100%"></textarea>
                            </div>
                            <p class="p-btn"><a href="javascript:void(0);" id="save_btn" class="publish-btn">发布</a></p>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/xheditor-1.2.2.min.js"></script>
<script type="text/javascript" src="/static/js/zh-cn.js"></script>
<script type="text/javascript" src="/static/js/layer/layer.js"></script>
<script>
    //可视化编辑器实例调用
    $('#elm1').xheditor({
        html5Upload : false,
        upImgUrl:"/news/upload_news_pic",
        upImgExt:"jpg,jpeg,gif,png"
    });
    $("#save_btn").click(function(){
        if($.trim($("#title").val())==""){
            layer.msg('请输入标题');
            return false;
        }
        if($.trim($("#sel_type").val())==""){
            layer.msg('请选择文档类别');
            return false;
        }
        $("#save_form").submit();
    })
</script>
</body>
</html>
