
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>在线考试</title>
    <meta name="keywords" content="在线考试" />
    <meta name="description" content="在线考试" />
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="doc">
    {{include file='header.html'}}
    <div class="wraper clearfix">
        <div class="wrap-left">
            <span class="logo"><img src="/static/images/logo.jpg" alt="" width="130" height="35"></span>
            <div class="nav-left">
                <ul class="nav-left-ul">
                    <li><a href="/"><em class="home"></em>回到首页</a></li>
                    <li><a href="/activity/list_activity"><em class="onlineclass"></em>在线课程</a></li>
                    <li><a href="/activity/list_activity"><em class="documentdata"></em>文档资料</a></li>
                    <li>
                        <a href="/examination/selft_examination"><em class="onlineexam"></em>在线考试</a>
                        <span class="document-nav-list">
                            <a href="/examination/self_examination">自主测评</a><br />
                            <a href="/examination/unit_examination">统一考试</a><br />
                            <a href="/examination/examination_score">我的成绩</a>
                        </span>
                    </li>
                    <li class="on"><a href="/examination/enter_examination"><em class="onlineexam"></em>题库</a>
                        <span class="document-nav-list">
                            <a href="/examination/enter_examination">上传试题</a><br />
                            <a href="/examination/setup_examination" class="on">生成试卷</a><br />
                            <a href="/examination/examination_list">我的试卷</a>
                        </span></li>
                </ul>
            </div>
        </div>
        <div class="wrap-right">
             <div class="search-wrap">
               
            </div>
              <div class="schedule-wrap upload-document-wrap">
                <p class="tab-tit">我的试卷</p>
                <div class="examination-main clearfix">
                      <p class="exam-tit">科威门店统一期末考试卷</p>
                      <p class="tips"><span class="fz18">注意事项：</span><br />
                        本试卷共有52道试题</p>
                      <p class="exam-p1">第I卷（选择题）</p> 
                      <p class="exam-p2">一、单选题（共20小题）</p> 
                      <dl class="dl-exam1">
                        <dt>1. 住宅的土地使用年限为多少？</dt>
                        <dd>A 40年<br /> 
                            B 50年<br />  
                            C 60年<br />  
                            D 70年</dd>
                      </dl>
                      <dl class="dl-exam1">
                        <dt>2. 住宅的土地使用年限为多少？</dt>
                        <dd>A 40年<br /> 
                            B 50年<br />  
                            C 60年<br />  
                            D 70年</dd>
                      </dl>
                      <dl class="dl-exam1">
                        <dt>3. 住宅的土地使用年限为多少？</dt>
                        <dd>A 40年<br /> 
                            B 50年<br />  
                            C 60年<br />  
                            D 70年</dd>
                      </dl>
                      <a href="javascript:" class="createpaper-btn">确定生成试卷</a>
                </div>
        </div>
    </div>
</div>

</body>
</html> 