<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>会议室预约</title>
    <meta name="keywords" content="会议室预约" />
    <meta name="description" content="会议室预约" />
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="doc">
    {{include file='header.html'}}
    <div class="wraper clearfix">
        <div class="wrap-left">
            <span class="logo"><img src="/static/images/logo.jpg" alt="" width="130" height="35"></span>
            <div class="nav-left">
                <ul class="nav-left-ul">
                    <li><a href="/"><em class="home"></em>回到首页</a></li>
                    <li class="on"><a href="/activity/list_activity"><em class="onlineclass"></em>在线课程</a></li>
                    <li><a href="/activity/list_activity"><em class="documentdata"></em>文档资料</a></li>
                </ul>
            </div>
        </div>
        <div class="wrap-right">
             <div class="search-wrap">
                <form id="formSearchActivity" method="POST" action="/agenda/list_agenda">
                    <input type="text" name="search" class="search-input" placeholder="你不懂的搜一搜" >
                    <a href="javascript:void(0);" class="search-btn" id="btn_search"></a>
                </form>
            </div>
            <div class="schedule-wrap online-class-wrap">
                <div class="main-inner" id="slide01">
                      <div class="a-nav"><a href="">在线课程</a> &gt 微课程</div>
                      <div class="div-bor">
                      <p class="p-tit">突破业绩成长五大瓶颈</p>
                          <div class="video-play">
                              <video width="625" height="380" controls>
                                  <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
                                  Your browser does not support the video tag.
                              </video>
                          </div>
                          <div class="video-info">
                              <p class="video-tit">突破业绩成长五大瓶颈</p>
                              <p class="p-opration"><i><em class="collect"></em>收藏课程</i><i><em class="zan"></em>21</i></p>
                              <p class="information-txt">课程类型:  微课程<br />
课程介绍:  2016年也可谓为房产中介行业的转型元年、变局之年，房地产市场再度进入调整期，市场整合大势所趋，行业大事件层出不穷，全面搅动业界神经。</p>
                          </div>
                      </div>
                      <p class="relate-tit">相关课程</p>
                      <div class="div-bor div-bor1">
                      <ul class="ul-video ul-video1">
                            <li>
                                <a href="">
                                    <img src="/static/images/s_pic1.jpg" alt=" ">
                                    <em class="video-icon"></em>
                                    <p>[公开课]如你所见-身处O2O时代的房产经纪如何应对挑战<br />
                                        <i class="playnum">1000次播放</i><i class="zannum">5次点赞</i>
                                    </p>                                
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="/static/images/s_pic2.jpg" alt=" ">
                                        <em class="video-icon"></em>
                                    <p>[公开课]如你所见-身处O2O时代的房产经纪如何应对挑战<br />
                                        <i class="playnum">1000次播放</i><i class="zannum">5次点赞</i>
                                    </p>                                
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="/static/images/s_pic3.jpg" alt=" ">
                                    <em class="video-icon"></em>
                                    <p>[公开课]如你所见-身处O2O时代的房产经纪如何应对挑战<br />
                                        <i class="playnum">1000次播放</i><i class="zannum">5次点赞</i>
                                    </p>                                
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="/static/images/s_pic3.jpg" alt=" ">
                                    <em class="video-icon"></em>
                                    <p>[公开课]如你所见-身处O2O时代的房产经纪如何应对挑战<br />
                                        <i class="playnum">1000次播放</i><i class="zannum">5次点赞</i>
                                    </p>                                
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="/static/images/s_pic3.jpg" alt=" ">
                                    <em class="video-icon"></em>
                                    <p>[公开课]如你所见-身处O2O时代的房产经纪如何应对挑战<br />
                                        <i class="playnum">1000次播放</i><i class="zannum">5次点赞</i>
                                    </p>                                
                                </a>
                            </li>
                      </ul>
                      </div>
                 </div>
            </div>
       

    </div>
     </div>
</div>


<script type="text/javascript" src="/static/js/jquery.poshytip.min.js"></script>
<script type="text/javascript" src="/static/js/dpl-jquery.slide.js"></script>
<script type="text/javascript"> 
    $('.ul-video li a').mouseover(function(){
         $(this).children('.video-icon').show();
    }).mouseout(function(){  $(this).children('.video-icon').hide(); })
</script>
</body>
</html>