/*头部*/
body{background: #fff; font-family: "Microsoft YaHei";}
.fz14{font-size: 14px;}
.header-wrap{background: #f5f5f5;height:36px; border-bottom: 1px solid #eee; line-height:36px;}
.header-in-wrap,.wraper{margin:0 auto; width:1120px;}
.header-left{ float: left;}
.login-info{width:200px;float: right;position: relative; }
.moreoperation{color:#6c6c6c;}
.logo-head-pic{margin:5px 10px 0;float:left;}
.logo-head-pic img{border-radius: 13px;}
.more-operation{position:absolute;top:36px;left:-30px; background: #fff;border:1px solid #f3f3f3;width:145px; height:55px;}
.more-operation a{width:58px;margin:10px 0 0 10px; float: left;color: #a4abbb; font-size:14px; line-height: 18px; text-align: center;}
.more-operation a em{margin-left:16px;width:20px; height:20px; display: block; background: url(/static/images/logo-in.png) no-repeat;}
.more-operation a .a-em1{ background-position:-21px 0; }
.more-operation a .a-em2{ background-position:-40px 0; }
.up-icon{display: inline-block; width:20px; height:16px; background: url(/static/images/logo-in.png) no-repeat 5px 3px;}
.wraper{padding:25px 0;}
.logo{display: block;height:45px;}

.wrap-left{width:130px; float:left; }
.wrap-right{width:990px; float:left;}
.nav-left{ background: #2a3542;  height:540px;}
.schedule-wrap{ background: #f2f2f0;height:540px;}
.nav-left-ul{padding:18px 10px;}
.nav-left-ul li{width:110px; height:42px; line-height: 42px; background: #35404d;margin-bottom:12px; border-radius: 2px; font-size: 14px;}
.nav-left-ul li a{ color:#aeb2b7;font-weight:bold; width:110px; height:42px; display: block;}
.nav-left-ul li a:hover{ color:#fff; text-decoration: none;}
.nav-left-ul li em{margin:10px 2px 10px 10px;float:left;height:25px; width:25px; background: url(/static/images/left_nav.png) no-repeat;
}
.nav-left-ul li .home{ background-position:0 2px; }
.nav-left-ul li .schedule{ background-position:0 -28px; }
.nav-left-ul li .verify{ background-position:0 -56px; }
.nav-left-ul li .performance{ background-position:0 -88px; }
.nav-left-ul li.on a{color:#fff;}
.nav-left-ul li.on .schedule{background-position:-29px 2px;}
.nav-left-ul li.on .schedule{ background-position:-30px -28px; }
.nav-left-ul li.on .verify{ background-position:-30px -56px; }
.nav-left-ul li.on .performance{ background-position:-29px -88px; }

.nav-left-ul li a:hover .home{ background-position:-29px 2px; }
.nav-left-ul li a:hover .schedule{ background-position:-30px -28px; }
.nav-left-ul li a:hover .verify{ background-position:-30px -56px; }
.nav-left-ul li a:hover .performance{ background-position:-29px -88px; }


.search-wrap{overflow:hidden; zoom:1;height:45px;}
.search-wrap select,.search-wrap input{margin-left:10px;padding:4px 0;font-size:14px; color:#aeb2b7;font-family: "Microsoft YaHei";background: none;border:1px solid #d9d9d9;border-radius: 5px; text-align: center;float: left; display: inline-block;}
.search-wrap input{width: 150px;}
.search-wrap .sel-end-time{margin:0;}
.add-schedule-btn{ background: #fdb322; width:95px; height: 30px; float:right;border-radius: 3px; font-size:16px; color:#fff; text-align: center; line-height: 30px;}
/*.add-schedule-btn em{font-size: 26px;}*/
.search-btn{ margin-left:15px;height:28px;width:22px;float:left; background: url(/static/images/left_nav.png) no-repeat -15px -120px;}
.schedule-ul{padding:15px 0 0 10px;overflow:hidden;zoom:1;}
.schedule-ul li{ background: #fff; border-radius: 3px; float: left; height:50px; text-align: center; font-size: 16px; line-height: 50px;margin-right:4px;}
.schedule-ul li:last-child{margin-right:0;}
.schedule-ul li.wid60,.schedule-list li.wid60{width:60px;}.schedule-list li.wid92{width:92px;}.schedule-list li.wid64{width:64px;}
.schedule-ul li.wid92{width:92px;}.schedule-ul li.wid75{width:75px;}.schedule-ul li.wid138{width:138px;}.schedule-ul li.wid103,.schedule-list li.wid103{width:103px; line-height: inherit; }
.schedule-ul li .time-bor{border-bottom:1px solid #f2f2f0; height:1px; width:75px; line-height:0;display:block;margin:0 14px;}
.time-break{color:#d9d9d9;height:16px; border-bottom:2px solid #d9d9d9; float: left; width:12px;margin:0 4px;}

.schedule-list{height:80px; background: #fff;margin:5px 18px 0 10px;}
.schedule-list>li{height:80px; float: left;line-height: 80px; text-align: center; overflow: hidden; }
.schedule-list .name{font-size:14px;}
.schedule-list .bor-separate{width:2px; background: #dae1e8;height:20px; display: block;margin:0 1px;margin-top:30px; }.schedule-list .bor-separate1{margin-top:18px;width: 2px;height: 45px;}
.schedule-list .bor-separate-none{background:#fff;}
.schedule-list .em-lock{width:13px; height:13px; display:inline-block;margin-right:5px;background: url(/static/images/items-icon.png) no-repeat -6px 0;}
.schedule-list .item-icon{margin:28px 5px 0 15px;height:22px; width:30px; float: left; background: url(/static/images/items-icon.png) no-repeat 0 -24px;}
.schedule-list .item-icon-1{}.schedule-list .item-icon-2{ background-position:0 -60px; }.schedule-list .item-icon-3{background-position:0 -97px;}
.schedule-list .item-icon-4{background-position:0 -127px;}.schedule-list .item-icon-5{background-position:0 -162px;}
.schedule-list .items ul{width: 42px;float:left;margin-top:10px;}
.schedule-list .items li{margin-bottom:2px;width:42px; height:18px; line-height: 18px; background:#f3f5f6;border-radius: 3px; }
.schedule-list .items .i-plan{color:#ff6c60;}.schedule-list .items .i-reality{color:#59ace2;}.schedule-list .items .i-verify{color:#a9d86e;}
.schedule-list li.score-plan,.schedule-list li.score-reality,.schedule-list li.score-verify{ color:#fff;font-size:14px;}
.schedule-list li.score-plan{background:#ff6c60;}
.schedule-list li.score-reality{background:#59ace2;}
.schedule-list li.score-verify{background:#a9d86e;}
.schedule-list .operation-btn{width: 45px; height: 25px; display:block; background: #34474f; line-height: 25px; color:#fff;margin:28px 0 0 15px;border-radius: 3px; float: left;}
.schedule-list .operation-btn-no{background: #b4b8bc;}
.pages{ text-align: center;margin-top:10px;}
.pages a,.pages .current{border:1px solid #e4e7e9; background: #fff; height: 28px; width:28px; line-height: 28px; display: inline-block; text-align: center;}
.pages a:hover{background: #f77d20; color:#fff;text-decoration: none;}
.pages .prev,.pages .next{width:60px; height:28px;}
.pages .current{ background: #f77d20;color:#fff;border:1px solid #f77d20;}