<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>填写资料信息</title>
  <meta name="description" content="这是一个form页面">
  <meta name="keywords" content="form">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/static/assets/css/weixinfinance.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header">
  <div class="am-topbar-brand">
     <small>金融服务</small>
  </div>
</header>

<div class="am-cf admin-main">
<!-- content start -->
<div class="admin-content">
  <div class="admin-content-body">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">其它</strong> / <small>Other Infromation</small>
      </div>
    </div>
    <form class="am-form am-form-horizontal am-form-wrap-finance">
      <p class="identity-p-center">征信报告</p>
      <a href="" class="upload-pic">
        <em class="am-icon-plus"></em>
      </a> 
       <p class="identity-p-center">工资流水/企业流水</p>
      <a href="" class="upload-pic">
        <em class="am-icon-plus"></em>
      </a> 
      <p class="identity-p-center">社保证</p>
      <a href="" class="upload-pic">
        <em class="am-icon-plus"></em>
      </a> 
       <p class="identity-p-center">不动产证</p>
      <a href="" class="upload-pic">
        <em class="am-icon-plus"></em>
      </a> 
   <!--  <div class="upload-btn"><a href=""class="upload-btn-a"></a></div> -->
   <!--  <div class="upload-btn"><a href=""><img src="assets/i/photo-upload.png" alt=""></a></div>
    -->

        <p class="finance-btn-p"><a href="" class="finance-btn">提交</a></p>
    </form>
 </div>

</div>
<!-- content end -->

</div>



<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
