<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin form Examples</title>
  <meta name="description" content="这是一个form页面">
  <meta name="keywords" content="form">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/static/assets/css/weixinfinance.css">
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/amazeui.min.js"></script>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<div class="am-cf admin-main">
<!-- content start -->
<div class="admin-content">
  <div class="admin-content-body">
  <div class="am-form am-form-horizontal am-form-wrap-finance no-margin">        
      <div class="am-approve-group am-finance-approve-top">
        <span class="approve-tit"><em><img src="/static/assets/i/sh_icon1.png" alt=""></em>匹配方案</span>
        <p class="add-approve">
          <a href="" class="add-approve-btn" id="Jadd-approve-btn"><img src="/static/assets/i/add-ap.png" alt=""></a>
        </p>
      </div>
      <div id="Japprove-list">
        <div class="approve-list">
          <em class="ap-list-icon"></em>
          <em class="ap-remove-icon"></em>
          <div class="approve-list-data">
            <span class="ap-list-tit">类型:</span>
            <div class="am-sm-fin">
             <div class="am-radio">
                <label>
                  <input type="radio" name="doc-radio-1" value="option1" checked>信用</label>
              </div>
              <div class="am-radio">
                <label>
                  <input type="radio" name="doc-radio-1" value="option2">抵押<label>
              </div>
            </div>
            </div>
             <div class="approve-list-data">
                <span class="ap-list-tit">额度:</span>
                <div class="am-sm-fin">
                  <input type="text" id="doc-ipt-1-1" class="am-form-field am-approve-field" placeholder=""><em class="ap-txt">万元</em>
                </div>
                <span class="ap-list-tit">年化:</span>
                <div class="am-sm-fin">
                  <input type="text" id="doc-ipt-1-1" class="am-form-field am-approve-field" placeholder=""><em class="ap-txt">%</em>
                </div>
            </div>
            <div class="approve-list-data">
                <span class="ap-list-tit">周期:</span>
                  <select name="" id="" class="am-approve-select">
                    <option value="半年">半年</option>
                    <option value="一年">半年</option>
                    <option value="两年">半年</option>
                    <option value="三年">三年</option>
                    <option value="三年以上">三年以上</option>
                  </select><em class="ap-txt">期</em>
             
            </div>
        </div>
      </div>
<!--       <div class="approve-list">
        <em class="ap-list-icon"></em>
        <em class="ap-remove-icon"></em>
        <div class="approve-list-data">
          <span class="ap-list-tit">类型:</span>
          <div class="am-sm-fin">
           <div class="am-radio">
              <label>
                <input type="radio" name="doc-radio-2" value="option1" checked>信用</label>
            </div>
            <div class="am-radio">
              <label>
                <input type="radio" name="doc-radio-2" value="option2">抵押<label>
            </div>
          </div>
          </div>
           <div class="approve-list-data">
              <span class="ap-list-tit">额度:</span>
              <div class="am-sm-fin">
                <input type="text" id="doc-ipt-1-1" class="am-form-field am-approve-field" placeholder=""><em class="ap-txt">万元</em>
              </div>
              <span class="ap-list-tit">年化:</span>
              <div class="am-sm-fin">
                <input type="text" id="doc-ipt-1-1" class="am-form-field am-approve-field" placeholder=""><em class="ap-txt">%</em>
              </div>
          </div>
          <div class="approve-list-data">
              <span class="ap-list-tit">周期:</span>
                <select name="" id="" class="am-approve-select">
                  <option value="半年">半年</option>
                  <option value="一年">半年</option>
                  <option value="两年">半年</option>
                  <option value="三年">三年</option>
                  <option value="三年以上">三年以上</option>
                </select><em class="ap-txt">期</em>
           
          </div>
      </div>
      <div class="approve-list">
        <em class="ap-list-icon"></em>
        <em class="ap-remove-icon"></em>
        <div class="approve-list-data">
          <span class="ap-list-tit">类型:</span>
          <div class="am-sm-fin">
           <div class="am-radio">
              <label>
                <input type="radio" name="doc-radio-3" value="option1" checked>信用</label>
            </div>
            <div class="am-radio">
              <label>
                <input type="radio" name="doc-radio-3" value="option2">抵押<label>
            </div>
          </div>
          </div>
           <div class="approve-list-data">
              <span class="ap-list-tit">额度:</span>
              <div class="am-sm-fin">
                <input type="text" id="doc-ipt-1-1" class="am-form-field am-approve-field" placeholder=""><em class="ap-txt">万元</em>
              </div>
              <span class="ap-list-tit">年化:</span>
              <div class="am-sm-fin">
                <input type="text" id="doc-ipt-1-1" class="am-form-field am-approve-field" placeholder=""><em class="ap-txt">%</em>
              </div>
          </div>
          <div class="approve-list-data">
              <span class="ap-list-tit">周期:</span>
                <select name="" id="" class="am-approve-select">
                  <option value="半年">半年</option>
                  <option value="一年">半年</option>
                  <option value="两年">半年</option>
                  <option value="三年">三年</option>
                  <option value="三年以上">三年以上</option>
                </select><em class="ap-txt">期</em>
           
          </div>
      </div> -->
      <div class="approve-describe">
        <span class="approve-de-span"><em class="approve-de-icon"><img src="/static/assets/i/sh_icon3.png" alt=""></em>请输入状态描述</span>
        <div class="approve-area">
          <textarea name="" id="" cols="30" rows="5" class="approve-textarea" placeholder="">

          </textarea>
        </div>
        <p class="submit-btn-p"><a href="" class="submit-btn">提 交</a></p>
      </div>

  </div> 
 </div>

</div>


</div>



</body>
</html>
