<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>填写资料信息</title>
  <meta name="description" content="这是一个form页面">
  <meta name="keywords" content="form">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/static/assets/css/weixinfinance.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header">
  <div class="am-topbar-brand">
     <small>金融服务</small>
  </div>
</header>

<div class="am-cf admin-main">
<!-- content start -->
<div class="admin-content">
  <div class="admin-content-body">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">房产信息</strong> / <small>House Infromation</small>
      </div>
    </div>
    <form class="am-form am-form-horizontal am-form-wrap-finance">
        <div class="am-form-group am-form-finance">
          <label for="doc-ipt-3-1" class="am-form-label">社区名</label>
          <div class="am-sm-fin">
            <input type="text" id="doc-ipt-3-1" class="am-form-field" placeholder="请输入社区名">
          </div>
        </div>
        <div class="am-form-group am-form-finance">
          <label for="doc-ipt-3-2" class="am-form-label">楼栋号</label>
          <div class="am-sm-fin">
            <input type="text" id="doc-ipt-3-2" class="am-form-field" placeholder="请输入楼栋号">
          </div>
        </div>
         
         <div class="am-form-group am-form-finance">
           <label for="doc-ipt-3-3" class="am-form-label">物业类型</label>
          <div class="am-sm-fin">
            <input type="text" id="doc-ipt-3-3" class="am-form-field" placeholder="请输入物业类型">
          </div>
         </div> 
          <div class="am-form-group am-form-finance">
          <label for="doc-ipt-3-4" class="am-form-label">面积</label>
            <div class="am-sm-fin">
              <input type="text" id="doc-ipt-3-4" class="am-form-field" placeholder="请输入面积">
            </div>
           </div>
          <div class="am-form-group am-form-finance">
          <label for="doc-ipt-3-5" class="am-form-label">购入总价</label>
            <div class="am-sm-fin">
              <input type="text" id="doc-ipt-3-5" class="am-form-field" placeholder="请输入购入总价">
            </div>
           </div>
            <div class="am-form-group am-form-finance">
          <label for="doc-ipt-3-6" class="am-form-label">权利人</label>
            <div class="am-sm-fin">
              <input type="text" id="doc-ipt-3-6" class="am-form-field" placeholder="请输入权利人">
            </div>
           </div>
           <div class="am-form-group am-form-finance">
          <label for="doc-ipt-3-7" class="am-form-label">现余按揭</label>
            <div class="am-sm-fin">
              <input type="text" id="doc-ipt-3-7" class="am-form-field" placeholder="请输入现余按揭">
            </div>
           </div>
        <p class="finance-btn-p"><a href="" class="finance-btn">下一步</a></p>
    </form>
 </div>

</div>
<!-- content end -->

</div>



<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
