<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>填写资料信息</title>
  <meta name="description" content="这是一个form页面">
  <meta name="keywords" content="form">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/static/assets/css/weixinfinance.css">
  <script src="/static/assets/js/jquery.min.js"></script>
  <script src="/static/assets/js/amazeui.min.js"></script>
  <style type="text/css">
    .yy_display{
      display: none;
    }
    .yy_img{
      width: 300px;
      height: 300px;
    }
  </style>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header">
  <div class="am-topbar-brand">
     <small>金融服务</small>
  </div>
</header>

<div class="am-cf admin-main">
<!-- content start -->
<div class="admin-content">
  <div class="admin-content-body">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">上传身份证</strong> / <small>Identity Infromation</small>
      </div>
    </div>
    <form class="am-form am-form-horizontal am-form-wrap-finance">
      <p class="identity-p-center">申请人正面</p>
      <a href="javascript:void(0);" class="upload-pic">
        <img src="http://temp.im/300x300" alt="" class="upload-has-pic">
        <em href="#" class="am-f-close"></em>
      </a>
      <p class="identity-p-center">申请人反面</p>
      <a href="javascript:void(0);" class="upload-pic">
        <em class="am-icon-plus {{if $data.borrower_img_SFZ2|strip != ''}}yy_display{{/if}}"></em>
        <img src="/uploadfiles/finance/{{$data.finance_num}}/{{$data.borrower_img_SFZ2}}" alt="" class="yy_img upload-has-pic {{if $data.borrower_img_SFZ2|strip == ''}}yy_display{{/if}}">
        <input type="hidden" name="borrower_img_SFZ2" value="{{$data.borrower_img_SFZ2|default:'123'}}">
        <em href="#" class="am-f-close {{if $data.borrower_img_SFZ2|strip == ''}}yy_display{{/if}}"></em>
      </a> 
      <p class="identity-p-center">配偶正面</p>
      <a href="javascript:void(0);" class="upload-pic">
        <em class="am-icon-plus yy_display"></em>
        <img src="http://temp.im/300x300" alt="" class="yy_img upload-has-pic">
        <input type="hidden" name="borrower_img_SFZ2" value="{{$data.borrower_img_SFZ2|default:'123'}}">
        <em href="#" class="am-f-close"></em>
      </a> 
       <p class="identity-p-center">配偶反面</p>
      <a href="javascript:void(0);" class="upload-pic">
        <em class="am-icon-plus"></em>
      </a> 
        <p class="identity-p-center">结婚证1</p>
      <a href="javascript:void(0);" class="upload-pic">
        <em class="am-icon-plus"></em>
      </a> 
       <p class="identity-p-center">结婚证2</p>
      <a href="javascript:void(0);" class="upload-pic">
        <em class="am-icon-plus"></em>
      </a>
      <p class="identity-p-center">征信报告</p>
      <a href="javascript:void(0);" class="upload-pic">
        <em class="am-icon-plus"></em>
      </a>
      <p class="identity-p-center">工资流水/企业流水</p>
      <a href="javascript:void(0);" class="upload-pic">
        <em class="am-icon-plus"></em>
      </a>
      <p class="identity-p-center">社保证</p>
      <a href="" class="upload-pic">
        <em class="am-icon-plus"></em>
      </a>
      <p class="identity-p-center">不动产证</p>
      <a href="javascript:void(0);" class="upload-pic">
        <em class="am-icon-plus"></em>
      </a>
      <!--  <div class="upload-btn"><a href=""class="upload-btn-a"></a></div> -->
   <!--  <div class="upload-btn"><a href=""><img src="assets/i/photo-upload.png" alt=""></a></div>
    -->

        <p class="finance-btn-p"><a href="javascript:void(0);" class="finance-btn">下一步</a></p>
    </form>
 </div>

</div>
<!-- content end -->

</div>



<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>


</body>
</html>
<script type="text/javascript" src="/static/assets/js/layer/layer.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
  $(function(){
    $(function(){

      wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{{$wxappId}}', // 必填，公众号的唯一标识
        timestamp: {{$wxtimestamp}}, // 必填，生成签名的时间戳
      nonceStr: '{{$wxnonceStr}}', // 必填，生成签名的随机串
              signature: '{{$wxsignature}}',// 必填，签名，见附录1
              jsApiList: ['chooseImage','uploadFile','checkJsApi','uploadImage','onMenuShareAppMessage','hideMenuItems'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
      wx.checkJsApi({
        jsApiList: [
          'chooseImage','onMenuShareAppMessage'
        ],
        success: function (res) {
          alert(JSON.stringify(res));
          // alert(JSON.stringify(res.checkResult.getLocation));
          if (res.checkResult.getLocation == false) {
            //alert('你的微信版本太低，不支持微信JS接口，请升级到最新的微信版本！');
            return;
          }
        }
      });

      wx.ready(function () {


        $(".upload-pic").click(function(){
          var my = $(this);
          var emc = $(this).children();
          var img = $(this).children().next();
          var input_h = $(this).children().next().next();
          //alert(input_h.val())
          var close_btn = $(this).children().next().next().next();
          wx.chooseImage({
            count: 1, // 默认9
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function(res) {
              var localIds = res.localIds;
              //var tempFilePaths = res.tempFilePaths
              //alert(tempFilePaths);
              //$("#text_img").attr("src", localIds[0]);//显示图片到页面上
              syncUpload(localIds,emc,img,input_h,close_btn);
            }
          });
        })
        var syncUpload = function(localIds,emc_,img_,input_h_,close_btn_){
          var localId = localIds.shift();
          wx.uploadImage({
            localId: localId,
            isShowProgressTips: 1,
            success: function (res) {
              //alert(input_h_.val());
              var serverId = res.serverId; // 返回图片的服务器端ID
              img_.src(serverId);
              input_h_.val(serverId);
              emc_.addClass("yy_display");
              img_.removeClass("yy_display");
              close_btn_.removeClass("yy_display");
            }
          });
        };
      })

    })

    $(".am-f-close").click(function(){
      layer.confirm('是否删除图片?', {
        btn: ['删除','取消'], //按钮
        area: ['200px', 'auto']
      }, function(){
        $(this).prev().val('');
        $(this).prev().prev().addClass("yy_display");
        $(this).prev().prev().prev().removeClass("yy_display");
        $(this).addClass("yy_display");
        layer.msg('删除成功,提交或保存后生效', {icon: 1});
      }, function(){
      });
    })

  })
</script>
