<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin form Examples</title>
  <meta name="description" content="这是一个form页面">
  <meta name="keywords" content="form">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/app.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<div class="am-cf admin-main">
<!-- content start -->
<div class="admin-content">
  <div class="admin-content-body">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">申请人信息</strong> / <small>Applicant Infromation</small>
      </div>
    </div>
    <div class="am-form am-form-horizontal am-form-wrap-finance no-margin">
        <div class="am-finance-detail"> 
          <div class="am-form-group am-form-finance">
            <label for="doc-ipt-1-1" class="am-form-label">姓名</label>
            <div class="am-sm-fin">
              <p class="am-p-d">李某某</p>
             <!--  <input type="text" id="doc-ipt-1-1" class="am-form-field" placeholder="请输入姓名"> -->
            </div>
          </div>
          <div class="am-form-group am-form-finance">
            <label for="doc-ipt-1-1" class="am-form-label">年龄</label>
            <div class="am-sm-fin">
              <p class="am-p-d">50</p>
            </div>
          </div>
          <div class="am-form-group am-form-finance">
            <label for="doc-ipt-1-1" class="am-form-label">性别</label>
            <div class="am-sm-fin">
                <p class="am-p-d">女</p>  
            </div>
          </div>
           <div class="am-form-group am-form-finance">
            <label for="doc-ipt-1-1" class="am-form-label">婚 姻</label>
            <div class="am-sm-fin">
              <p class="am-p-d">未婚</p> 
            </div>
          </div>
                <div class="am-form-group am-form-finance">
            <label for="doc-ipt-1-1" class="am-form-label">房产</label>
            <div class="am-sm-fin">
              <p class="am-p-d">有</p> 
            </div>
          </div>
           <div class="am-form-group am-form-finance">
             <label for="doc-ipt-1-1" class="am-form-label">籍贯</label>
            <div class="am-sm-fin">
              <p class="am-p-d">江苏</p> 
            </div>
           </div> 
            <div class="am-form-group am-form-finance">
              <label for="doc-ipt-1-1" class="am-form-label">学历</label>
            <div class="am-sm-fin">
              <p class="am-p-d">大学</p> 
            </div>
           </div>
         </div>
         <div class="am-finance-detail"> 
          <div class="am-form-group am-form-finance">
          <label for="doc-ipt-1-1" class="am-form-label am-form-adress">工作地址</label>
            <div class="am-sm-fin">
              <p class="am-p-d">苏州昆山市萧林西路2101号</p> 
            </div>
           </div>
          <div class="am-form-group am-form-finance">
          <label for="doc-ipt-1-1" class="am-form-label">职位</label>
            <div class="am-sm-fin">
              <p class="am-p-d">业务</p> 
            </div>
           </div>
            <div class="am-form-group am-form-finance">
          <label for="doc-ipt-1-1" class="am-form-label am-form-adress">月收入</label>
            <div class="am-sm-fin">
              <p class="am-p-d">10000</p> 
            </div>
           </div>
           <div class="am-form-group am-form-finance">
          <label for="doc-ipt-1-1" class="am-form-label am-form-identity">身份证号码</label>
            <div class="am-sm-fin">
              <p class="am-p-d">3201234567899</p> 
            </div>
           </div>
           <div class="am-form-group am-form-finance">
          <label for="doc-ipt-1-1" class="am-form-label am-form-adress">社保年限</label>
            <div class="am-sm-fin">
              <p class="am-p-d">5年</p> 
            </div>
           </div>
          <div class="am-form-group am-form-finance">
            <label for="doc-ipt-1-1" class="am-form-label am-form-adress">联系方式</label>
              <div class="am-sm-fin">
                <p class="am-p-d">13761124354</p> 
              </div>
           </div>
          </div> 
          <div class="am-cf am-padding">
            <div class="am-fl am-cf">
              <strong class="am-text-primary am-text-lg">配偶信息</strong> / <small>Partner Infromation</small>
            </div>
          </div>
                 <div class="am-finance-detail"> 
          <div class="am-form-group am-form-finance">
            <label for="doc-ipt-1-1" class="am-form-label">姓名</label>
            <div class="am-sm-fin">
              <p class="am-p-d">李某某</p>
             <!--  <input type="text" id="doc-ipt-1-1" class="am-form-field" placeholder="请输入姓名"> -->
            </div>
          </div>
          <div class="am-form-group am-form-finance">
            <label for="doc-ipt-1-1" class="am-form-label">年龄</label>
            <div class="am-sm-fin">
              <p class="am-p-d">50</p>
            </div>
          </div>
          <div class="am-form-group am-form-finance">
            <label for="doc-ipt-1-1" class="am-form-label">性别</label>
            <div class="am-sm-fin">
                <p class="am-p-d">女</p>  
            </div>
          </div>
           <div class="am-form-group am-form-finance">
            <label for="doc-ipt-1-1" class="am-form-label">婚 姻</label>
            <div class="am-sm-fin">
              <p class="am-p-d">未婚</p> 
            </div>
          </div>
                <div class="am-form-group am-form-finance">
            <label for="doc-ipt-1-1" class="am-form-label">房产</label>
            <div class="am-sm-fin">
              <p class="am-p-d">有</p> 
            </div>
          </div>
           <div class="am-form-group am-form-finance">
             <label for="doc-ipt-1-1" class="am-form-label">籍贯</label>
            <div class="am-sm-fin">
              <p class="am-p-d">江苏</p> 
            </div>
           </div> 
            <div class="am-form-group am-form-finance">
              <label for="doc-ipt-1-1" class="am-form-label">学历</label>
            <div class="am-sm-fin">
              <p class="am-p-d">大学</p> 
            </div>
           </div>
         </div>
         <div class="am-finance-detail"> 
          <div class="am-form-group am-form-finance">
          <label for="doc-ipt-1-1" class="am-form-label am-form-adress">工作地址</label>
            <div class="am-sm-fin">
              <p class="am-p-d">苏州昆山市萧林西路2101号</p> 
            </div>
           </div>
          <div class="am-form-group am-form-finance">
          <label for="doc-ipt-1-1" class="am-form-label">职位</label>
            <div class="am-sm-fin">
              <p class="am-p-d">业务</p> 
            </div>
           </div>
            <div class="am-form-group am-form-finance">
          <label for="doc-ipt-1-1" class="am-form-label am-form-adress">月收入</label>
            <div class="am-sm-fin">
              <p class="am-p-d">10000</p> 
            </div>
           </div>
           <div class="am-form-group am-form-finance">
          <label for="doc-ipt-1-1" class="am-form-label am-form-identity">身份证号码</label>
            <div class="am-sm-fin">
              <p class="am-p-d">3201234567899</p> 
            </div>
           </div>
           <div class="am-form-group am-form-finance">
          <label for="doc-ipt-1-1" class="am-form-label am-form-adress">社保年限</label>
            <div class="am-sm-fin">
              <p class="am-p-d">5年</p> 
            </div>
           </div>
          <div class="am-form-group am-form-finance">
            <label for="doc-ipt-1-1" class="am-form-label am-form-adress">联系方式</label>
              <div class="am-sm-fin">
                <p class="am-p-d">13761124354</p> 
              </div>
           </div>
          </div>
          <div class="am-cf am-padding">
          <div class="am-fl am-cf">
            <strong class="am-text-primary am-text-lg">房产信息</strong> / <small>House Infromation</small>
          </div>
        </div>
         <div class="am-finance-detail"> 
          <div class="am-form-group am-form-finance">
            <label for="doc-ipt-1-1" class="am-form-label">社区名</label>
            <div class="am-sm-fin">
               <p class="am-p-d">大德玲珑湾</p> 
            </div>
          </div>
          <div class="am-form-group am-form-finance">
            <label for="doc-ipt-1-1" class="am-form-label">楼栋号</label>
            <div class="am-sm-fin">
               <p class="am-p-d">102</p> 
            </div>
          </div>
          <div class="am-form-group am-form-finance">
            <label for="doc-ipt-1-1" class="am-form-label">物业类型</label>
            <div class="am-sm-fin">
               <p class="am-p-d">高层</p> 
            </div>
          </div>
          <div class="am-form-group am-form-finance">
            <label for="doc-ipt-1-1" class="am-form-label">面积</label>
            <div class="am-sm-fin">
               <p class="am-p-d">100㎡</p> 
            </div>
          </div>
          <div class="am-form-group am-form-finance">
            <label for="doc-ipt-1-1" class="am-form-label">购入总价</label>
            <div class="am-sm-fin">
               <p class="am-p-d">100万</p> 
            </div>
          </div>
          <div class="am-form-group am-form-finance">
            <label for="doc-ipt-1-1" class="am-form-label">权利人</label>
            <div class="am-sm-fin">
               <p class="am-p-d">王某某</p> 
            </div>
          </div>
          <div class="am-form-group am-form-finance">
            <label for="doc-ipt-1-1" class="am-form-label">现余按揭</label>
            <div class="am-sm-fin">
               <p class="am-p-d">50万</p> 
            </div>
          </div>

        </div>
    <div class="am-cf am-padding">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">资金需求</strong> / <small>Fund Infromation</small>
      </div>
    </div>
    <div class="am-finance-detail">
        <div class="am-form-group am-form-finance">
          <label for="doc-ipt-1-1" class="am-form-label">额度</label>
          <div class="am-sm-fin">
             <p class="am-p-d">11万</p> 
          </div>
        </div>
        <div class="am-form-group am-form-finance">
          <label for="doc-ipt-1-1" class="am-form-label">预计还款周期</label>
          <div class="am-sm-fin">
             <p class="am-p-d">2年</p> 
          </div>
        </div>
        <div class="am-form-group am-form-finance">
          <label for="doc-ipt-1-1" class="am-form-label">还款方式</label>
          <div class="am-sm-fin">
             <p class="am-p-d">等额本息</p> 
          </div>
        </div>
        <div class="am-form-group am-form-finance">
          <label for="doc-ipt-1-1" class="am-form-label">征信概要</label>
          <div class="am-sm-fin">
             <p class="am-p-d">有无信用卡逾期</p> 
             <p class="am-p-d">房产有无第三方质押</p> 
             <p class="am-p-d">有无商业保险</p> 
             <p class="am-p-d">有无司法裁决</p>
          </div>
        </div>

    </div>

        <p class="finance-btn-p"><a href="" class="finance-btn">下一页</a></p>
    </div>
 </div>

</div>
<!-- content end -->

</div>
<div class="am-menu">
  <span>列表</span>
  <span>新增</span>
</div>


<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
