<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin form Examples</title>
  <meta name="description" content="这是一个form页面">
  <meta name="keywords" content="form">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/static/assets/css/weixinfinance.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<div class="am-cf admin-main">
<!-- content start -->
<div class="admin-content">
  <div class="admin-content-body">
    <div class="finance-result">
      <p class="p-icon"><img src="assets/i/lose-res.png" alt=""></p>
<!--       <p class="p-icon"><img src="assets/i/over-res.png" alt=""></p>//结案
      <p class="p-icon"><img src="assets/i/success-res.png" alt=""></p>//成功
      <p class="p-icon"><img src="assets/i/wtj-res.png" alt=""></p>//未提交
      <p class="p-icon"><img src="assets/i/fail-res.png" alt=""></p>//未通过
      <p class="p-icon"><img src="assets/i/end-res.png" alt=""></p> //终止-->

      <p class="p-res1">喜您，您的审核已通过</p>
      <p class="p-res2">以下为平台为您推荐的贷款方案，平台客服人员将在近期联系您进行后续签约解答。
请您保持手机接听通畅。</p>
    </div>
    <div class="finance-plan">
      <ul class="f-r-tit">
          <li class="li-tit">信用贷款</li>
          <li>
            <div class="plan-list plan-list1"><span class="money">20万</span><span>额度</span></div>
            <div class="plan-list plan-list2"><span class="rates">年化10%</span><span>利息</span></div>
            <div class="plan-list plan-list3"><span class="rates">1-6期</span><span>周期</span></div>
          </li>
          <li>
            <div class="plan-list plan-list1"><span class="money">200万</span><span>额度</span></div>
            <div class="plan-list plan-list2"><span class="rates">年化10%</span><span>利息</span></div>
            <div class="plan-list plan-list3"><span class="rates">1-12期</span><span>周期</span></div>
          </li>
          <li class="li-tit">抵押贷款</li>
          <li>
            <div class="plan-list plan-list1"><span class="money">20万</span><span>额度</span></div>
            <div class="plan-list plan-list2"><span class="rates">年化10%</span><span>利息</span></div>
            <div class="plan-list plan-list3"><span class="rates">1-6期</span><span>周期</span></div>
          </li>
          <li>
            <div class="plan-list plan-list1"><span class="money">200万</span><span>额度</span></div>
            <div class="plan-list plan-list2"><span class="rates">年化10%</span><span>利息</span></div>
            <div class="plan-list plan-list3"><span class="rates">1-12期</span><span>周期</span></div>
          </li>
      </ul>
    </div>

  </div>
</div>
<!-- content end -->

</div>



<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->


</body>
</html>
